

.mkp-editor-container {
     width: 100%;
    //  height: 100%;
     flex-grow: 1;
     box-sizing: border-box;
     display: flex; flex-direction: row;
     background-color: rgba(0,0,0,0);
    //  overflow: auto;
    
}

.mkp-editor-menu-container {
    height: 100%; 
    padding-top: 100px;
    width: 400px; min-width: 400px;
    display: flex; flex-direction: column;
    align-items: center;
    // align-content: center;
    // justify-content: center;
}
.mkp-editor-src-menu-item {
    width: 100px; height: 100px; margin-bottom: 25px;
    background-color: rgba(255,255,255,1);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 6px 12px -2px rgba(50,50,93,.25),0 3px 7px -3px rgba(0,0,0,.3);
}
.mkp-editor-src-menu-item:hover {
    box-shadow: 0 6px 12px -2px rgba(50,50,93,.25),0 3px 7px -3px rgba(0,0,0,.3);
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25),0 18px 36px -18px rgba(0,0,0,.3),0 -12px 36px -8px rgba(0,0,0,.025);
}


.mkp-layout-gl-container {
    width: 100%; height: 100%; box-sizing: border-box;
    display: flex; flex-direction: row; 
    // justify-content: center; 
    // align-items: center;
    // flex-shrink: 1;
}

.paper {
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25),0 18px 36px -18px rgba(0,0,0,.3),0 -12px 36px -8px rgba(0,0,0,.025);
    background-color: white;
    margin: 10px;
    width: 1000px; height: 707px;
    box-sizing: border-box;
}



@media only screen and (max-device-width : 1500px) {
    .mkp-editor-menu-container {
        width: 200px; min-width: 200px;
    }
}