
.ReactModal__Content, .ReactModal__Content--after-open {
    z-index: 9999;
    width: 300px;
    height: 300px;
    opacity: 1;
    box-shadow: 0 6px 12px -2px rgba(50,50,93,.25),0 3px 7px -3px rgba(0,0,0,.3);
}

.ReactModal__Overlay {
    width: 100%;
    height: 100%;
    position: absolute !important;
    background-color: rgba(0,0,0,0.3) !important;
    z-index: 9999 !important;
}




.mkp-prop-menu-container {
    display: flex; flex-flow: column;
}

.mkp-prop-menu-component {
    display: flex; flex-flow: column;
}

.mkp-prop-menu-row {
    width: 100%;
    display: flex; flex-flow: row;
    align-items: center;
    padding: 5px 0;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.mkp-prop-menu-title {
    font-size: 20px;
    // padding: 5px 0;
}
.mkp-prop-menu-label {
    padding: 0 5px;
    margin-right: 5px;
}
.mkp-prop-menu-input {
    width: 50px;
    font-size: 15px;
    padding-left: 5px;
    padding-top: 0;
    // padding: 3px;
}
.mkp-prop-menu-list-item {
    width: 100px; height: 100px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 6px 12px -2px rgba(50,50,93,.25),0 3px 7px -3px rgba(0,0,0,.3);
    cursor: pointer;
    border: solid 2px rgba(0,0,255, 0);

}
.mkp-prop-menu-list-item:hover {
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25),0 18px 36px -18px rgba(0,0,0,.3),0 -12px 36px -8px rgba(0,0,0,.025);
}
.mkp-selected-pattern {
    border: solid 2px rgba(0,0,255, 0.5);
}
.mkp-prop-menu-footer {
    width: 100%;
    display: flex; flex-flow: row; justify-content: space-between;
    margin-top: 40px;
}
.mkp-prop-menu-btn {
    font-size: 15px;
    width: 45%;
    height: 50px;
    cursor: pointer;
    background-color: white;
    outline: 0;
    border: solid 1px black;
    border-radius: 5px;
}
.mkp-prop-menu-btn:hover {
    box-shadow: 0 6px 12px -2px rgba(50,50,93,.25),0 3px 7px -3px rgba(0,0,0,.3);
}
.mkp-prop-menu-btn-save {
    background-color: rgb(255, 215, 0);
}