

@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

* {
    font-family: 'DM Serif Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Playfair Display', serif;
}

html, body {
    width: 100%; height: 100%; padding: 0; margin: 0; box-sizing: border-box;


    // background: #E0EAFC;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


//     background: #8e9eab;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: #757F9A;
background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);
background: linear-gradient(to right, #D7DDE8, #757F9A);

}
//
// .app {
//     width: 100%; height: 100%; padding: 0; margin: 0; box-sizing: border-box;
// }
#app, .app {
    width: 100%; height: 100%; padding: 0; margin: 0; box-sizing: border-box;
}

.svg-wrapper {
    width: 100%;
    height: 100%;
    padding: 2px; // TODO ?
    display: flex; flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.mkp-top-menu-container {
    width: 100%; height: 100px;
    display: flex; flex-direction: row;
    line-height: 100px; vertical-align: middle;
}
.mkp-top-menu-buttons-container {
    width: 100%; height: 100px;
    display: flex; flex-direction: row;
    // justify-content: center;
    align-items: center;
    
}

.mkp-top-menu-logo {
    font-size: 30px;
    width: 400px; min-width: 400px;
    text-align: center;
}



///////
///////
///////
///////

.mkp-tm-group {
    border-right: solid 1px gray;
    height: 100%;
    margin-right: 10px;
    height: 50px;
    width: auto;
    display: flex; flex-direction: row;
}


.mkp-page-orientation-menu {
    display: flex; flex-direction: row;
    align-items: center;
    padding: 2px;
    padding-right: 8px;
}

.mkp-pom-item {
    background-color: white;
    margin: 5px;
    cursor: pointer;
    opacity: 0.25;
}

.mkp-pom-landscape {
    width: 30px; height: 21px;
}

.mkp-pom-portrait {
    width: 21px; height: 30px;
}

.mkp-pom-selected {
    border: solid 1px black;
    opacity: 1;
}


.mkp-edit-mode {
    height: 100%;
    display: flex; flex-direction: row;
    align-items: center;
    padding-right: 8px;
    opacity: 0.2;
    cursor: pointer;
}
.mkp-edit-selected {
    opacity: 1;
}

.mkp-toggle-units {
    height: 100%;
    display: flex; flex-direction: row;
    align-items: center;
    padding-right: 8px;
    opacity: 0.2;
    cursor: pointer;

    svg {
        width: 30px; height: 30px;
    }

    select {
        width: 45px;
        font-size: 15px;
        background-color: rgba(0,0,0,0);
        border: 0;
        outline: 0;
    }

}

.mkp-menu-selected {
    opacity: 1 !important;
}


////
////
////
////
.mkp-settings-menu {
    height: 100%;
    margin-right: 10px;
    height: 50px;
    width: auto;
    display: flex; flex-direction: row; align-items: center;

}
.mkp-settings-menu-container {
    position: absolute;
    top: 70px; left: 600px;
    width: 150px; height: auto;
    background-color: white;
    display: flex; flex-flow: column;
    z-index: 99;
    border-radius: 5px;
    box-shadow: 0 6px 12px -2px rgba(50,50,93,.25),0 3px 7px -3px rgba(0,0,0,.3);
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25),0 18px 36px -18px rgba(0,0,0,.3),0 -12px 36px -8px rgba(0,0,0,.025);
    padding: 10px;
    box-sizing: border-box;
}
.mkp-settings-menu-button {
    width: 100%; 
    height: 40px;
    background: 0;
    border: 0;
    cursor: pointer;
    text-align: left;
    font-size: 15px;
}
.mkp-settings-menu-button:hover {
    width: 100%; 
    height: 40px;
    background-color: rgba(0,0,0,0.15);
    // display: flex; flex-direction: row;
}
.mkp-settings-menu-separator {
    width: 100%; height: 0;
    border-top: solid 1px rgba(0,0,0,0.15);
}


.mkp-save-menu-button {
    z-index: 2;
    border: 0;
    background-color: rgba(0,0,0,0);
    background-color: rgb(255, 215, 0);
    cursor: pointer;
    font-size: 15px;
    height: 40px; width: 100px;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    // margin-left: -10px;
    // border-bottom: solid 2px white;
    box-shadow: 0 6px 12px -2px rgba(50,50,93,.25),0 3px 7px -3px rgba(0,0,0,.3);

}
.mkp-save-menu-button:hover {
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25),0 18px 36px -18px rgba(0,0,0,.3),0 -12px 36px -8px rgba(0,0,0,.025);
}
.mkp-settings-menu-toggle-button {
    width: 30px; height: 40px; 
    // margin-left: 2px;
    z-index: 1;
    background-color: rgba(255, 215, 0,0);
    border: solid 2px rgb(255, 215, 0);
    border-left: 0;
    outline: 0;
    // border: 0;
    cursor: pointer;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 20px;
    line-height: 30px; vertical-align: top;
    padding: 0;
    padding-bottom: 5px;
    box-shadow: 0 6px 12px -2px rgba(50,50,93,.25),0 3px 7px -3px rgba(0,0,0,.3);

}
.mkp-settings-menu-toggle-button:hover {
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25),0 18px 36px -18px rgba(0,0,0,.3),0 -12px 36px -8px rgba(0,0,0,.025);
        // box-shadow: 0 6px 12px -2px rgba(50,50,93,.25),0 3px 7px -3px rgba(0,0,0,.3);

}


//////
//////
//////
//////
.mkp-header-btn-container {
    width: 100%;
    display: flex; flex-direction: row;
    // background-color: rgba(0,0,0,0.05);
}
.mkp-header-other-btn-container {
    width: 100%;
    display: flex; flex-direction: row;
}
.mkp-header-remove-btn-container {
    width: 30px; height: 30px;
}
.mkp-header-btn {
    width: 30px; height: 30px;
    background: rgba(0,0,0,0);
    border: 0;
    outline: 0;
    padding: 0; 
    text-align: center;
    cursor: pointer;
}
.mkp-header-btn:hover {
    background: rgba(0,0,0,0.15);
    border-radius: 10%;
}
.mkp-header-btn-remove:hover {
    background-color: rgba(255,0,0,0.5);
}
