

@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

* {
    font-family: 'DM Serif Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Playfair Display', serif;
}

html, body {
    width: 100%; height: 100%; padding: 0; margin: 0; box-sizing: border-box;


    // background: #E0EAFC;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


//     background: #8e9eab;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: #757F9A;
background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);
background: linear-gradient(to right, #D7DDE8, #757F9A);

}
//
// .app {
//     width: 100%; height: 100%; padding: 0; margin: 0; box-sizing: border-box;
// }
#app, .app {
    width: 100%; height: 100%; padding: 0; margin: 0; box-sizing: border-box;
}

.svgWrapper {
    width: 100%;
    height: 100%;
    padding: 2px; // TODO ?
    display: flex; flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.mkp-top-menu-container {
    width: 100%; height: 100px;
    display: flex; flex-direction: row;
    line-height: 100px; vertical-align: middle;
}
.mkp-top-menu-buttons-container {
    width: 100%; height: 100px;
    display: flex; flex-direction: row;
    // justify-content: center;
    align-items: center;
    
}

.mkp-top-menu-logo {
    font-size: 30px;
    width: 400px; min-width: 400px;
    text-align: center;
}



///////
///////
///////
///////

.mkp-tm-group {
    border-right: solid 1px gray;
    height: 100%;
    margin-right: 10px;
    height: 50px;
    width: auto;
    display: flex; flex-direction: row;
}


.mkp-page-orientation-menu {
    display: flex; flex-direction: row;
    align-items: center;
    padding: 2px;
    padding-right: 8px;
}

.mkp-pom-item {
    background-color: white;
    margin: 5px;
    cursor: pointer;
    opacity: 0.25;
}

.mkp-pom-landscape {
    width: 30px; height: 21px;
}

.mkp-pom-portrait {
    width: 21px; height: 30px;
}

.mkp-pom-selected {
    border: solid 1px black;
    opacity: 1;
}


.mkp-edit-mode {
    height: 100%;
    display: flex; flex-direction: row;
    align-items: center;
    padding-right: 8px;
    opacity: 0.2;
    cursor: pointer;
}
.mkp-edit-selected {
    opacity: 1;
}

.mkp-toggle-units {
    height: 100%;
    display: flex; flex-direction: row;
    align-items: center;
    padding-right: 8px;
    opacity: 0.2;
    cursor: pointer;

    svg {
        width: 30px; height: 30px;
    }

    select {
        width: 45px;
        font-size: 15px;
        background-color: rgba(0,0,0,0);
        border: 0;
        outline: 0;
    }

}

.mkp-menu-selected {
    opacity: 1 !important;
}



//////
//////
//////
//////
// .mkp-header-btn-container {
//     width: 100%;
//     display: flex; flex-direction: row;
//     background-color: rgba(0,0,0,0.15);
// }
.mkp-header-btn {
    width: 30px; height: 30px;
    background: rgba(0,0,0,0);
    border: 0;
    outline: 0;
    padding: 0; 
    text-align: center;
    cursor: pointer;
}
.mkp-header-btn:hover {
    background: rgba(0,0,0,0.15);
    border-radius: 10%;
}
.mkp-header-btn-remove:hover {
    background-color: rgba(255,0,0,0.5);
}
